<header class="row header">
  <div class="col-6">
    <% if defined?(prev_page) %>
      <%= link_to( prev_page , {class: "header__back-button"}) do %>
        <i class="fa fa-chevron-left"></i>
      <% end %>
    <% end %>
    <h2 class="header__title"><%= title -%></h2>
  </div>
  <%= yield %>
</header>